@import 'media-queries';
@import 'mixins';
@import 'typography';
@import 'variables';

.intro-block {
  margin-bottom: 2em;

  span {
    text-decoration: line-through;
  }
}

.first-lists-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1em;

  @include smartphone {
    flex-direction: column;
  }
}

.list {
  padding: 1em;

  @include not-smartphone {
    &-1-md {
      width: 100%;
    }

    &-2-md {
      width: 100/2 * 1%;
    }
  }

  @include smartphone {
    width: 100%;
    padding: 1em;
  }
}

h2 {
  margin-bottom: 1em;

  @include smartphone {
    text-align: center;
  }
}

p {
  @include general_text();
  margin-bottom: 0.5em;
}

ul li {
  @include general_text();
  line-height: 1.25;
  margin-bottom: 0.2em;
  position: relative;
  padding-left: 1.2em;

  &:before {
    content: '#';
    position: absolute;
    left: 0em;
  }

  &.no-bullet {
    padding-left: 0;

    &:before {
      content: '';
    }
  }

  &.done span {
    text-decoration: line-through;

    &:hover {
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.author {
  text-transform: capitalize;
  display: inline-block;
}

mark {
  background-color: rgba(255, 255, 255, .2);
  @include textColor();
}
