<content containerClass="after-menu">
  <div class="intro-block">
    <h1>
      A bunch of <span>stuff</span> lists!
    </h1>
    <p>
      This is a place where I make lists. I like making lists and I like to mark things as <span>done</span>. <br>
      This page is getting messy and I love it even more! &#9829;
    </p>
  </div>
  <div class="first-lists-block">
    <div class="list list-2-md"
      [@loadedAnimation]="bucketListState"
      (@loadedAnimation.done)="animationDone($event, 'bucketList')"
      >
      <h2>My bucket list</h2>
      <ul>
        <li [ngClass]="[item.done ? 'done' : '']"
          *ngFor="let item of bucketList">
          <span>{{ item.title }}</span>
        </li>
      </ul>
    </div>

    <div class="list list-2-md"
      [@loadedAnimation]="codepenListState"
      (@loadedAnimation.done)="animationDone($event, 'codepenList')"
      >
      <h2>Codepen ideas (to do someday)</h2>
      <ul>
        <li [ngClass]="[item.done ? 'done' : '']"
          *ngFor="let item of codepenList">
          <span>{{ item.title }}</span>
          <a href="{{item.link}}" target="_blank" *ngIf="item.link">(<span>view the Pen</span>)</a>
        </li>
      </ul>
    </div>
    <div class="list list-1-md"
      [@loadedAnimation]="quoteListState"
      (@loadedAnimation.done)="animationDone($event, 'quoteList')"
        >
      <h2>Some of my favourite quotes in a list</h2>
      <ul>
        <li class="no-bullet" [ngClass]="[item.done ? 'done' : '']"
          *ngFor="let item of quoteList">
          <mark>"{{ item.quote }}"</mark> <i class="author" *ngIf="item.author">({{ item.author }})</i>
        </li>
      </ul>
    </div>
    <div class="list list-1-md"
      [@loadedAnimation]="readingListState"
      (@loadedAnimation.done)="animationDone($event, 'readingList')"
        >
      <h2>Some books</h2>
      <ul>
        <li><b>READING NOW</b></li>
        <li class="no-bullet" *ngFor="let book of readingList['reading']">
          <span [ngClass]="[book.mostLoved ? 'loved' : '']">{{book.title}}</span>
           -
          <i>{{book.author}}</i>
        </li>
      </ul>
      <ul>
        <li><b>HAVE READ</b></li>
        <li class="no-bullet" *ngFor="let book of readingList['read']">
          <span [ngClass]="[book.mostLoved ? 'loved' : '']">{{book.title}}</span>
           -
          <i>{{book.author}}</i>
        </li>
      </ul>
      <ul>
        <li><b>WAITING ON THE SHELF</b></li>
        <li class="no-bullet" *ngFor="let book of readingList['waiting']">
          <span [ngClass]="[book.mostLoved ? 'loved' : '']">{{book.title}}</span>
           -
          <i>{{book.author}}</i>
        </li>
      </ul>
    </div>
  </div>
</content>