<content containerClass="after-menu">
  <!-- DISPLAY ONLY: greetings -->
  <section class="screen-only">
    <h5>
      <b>Hey! My name is Grazia Stracquadanio and I am a developer from Italy, currently based in Dublin.</b>
      <br>
      I earn my bread with with HTML, CSS and JavaScript and anything around those.
    </h5>

    <p>Do you need my full CV? You can find it
      <a title="Curriculum Vitae" routerLink="/cv/true">here</a>
    </p>
  </section>

  <!-- DISPLAY ONLY: intro -->
  <section class="screen-only">
    <p>
      After my secondary school, I faced a big decision to make. What's next? My first choice was to follow my heart, so I went to a school of Arts, but after few months I've realized that wasn't the way I wanted to make things. I wanted something more challenging, I wanted something where I could express my creativity, yes, but in a logical way. So I took a degree in Computer Science (something completely different and challenging!). That helped me to develop a more structured logical thinking but I've found my way to combine it with creativity. So here I am. I draw with code every day. This is my job. And I love it.

    </p>

    <p *ngIf="showNext > 0">
      I fell in love with web development at first as a hobby. I've freelanced for a while, then I worked at Pane&Design as a frontend developer on a variety of projects. Our mission was to create a stronger and innovative design/development culture at the company.
    </p>

    <p *ngIf="showNext > 1">
      I had the chance to work with great designers and developers. Together we built cool platforms that people enjoy using. What I've learned from this is that good communication between developers and designers helps to create a great product and also you enjoy more the process of building it. Sharing knowledge and ideas is very important to me.  I’m always trying to learn new things to make myself a better developer and person.
    </p>

    <p *ngIf="showNext > 2">
      Today I work in Dublin, at HMH. Here, the challenge is to help people in the process of learning. We do it by offering new technologies that both young students and teachers can use. I enjoy working with this mission-driven process because every idea can have a great impact on this mission.
    </p>

    <button *ngIf="showNext < 3" (click)="showNext = showNext + 1"><mark>...and?</mark></button>
  </section>
</content>

<curriculum></curriculum>


