@import '../../../assets/styles/common';
@import '../../../assets/styles/media-queries';
@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cv {
  &_section {
    page-break-inside: avoid;
    background-color: $background-color;
    padding: 2em;
    margin-bottom: 2em;

    @include printAndSmartphone {
      padding-bottom: 16px;
    }
  }

  &_section_title {
    @include heading(true);
  }

  &_intro {
    @include super_heading;

    span {
      display: inline-block;
      color: $primary-color;
    }
  }

  &_experience_item {
    margin-bottom: 1.5em;

    @include printAndSmartphone {
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      @include heading_subsection(false);
    }

    &_company {
      font-weight: 400;
    }

    &_details {
      @include subheading_subsection(false);
    }

    &_description {
      @include general_text(false);
    }
  }

  &_about {
    p {
      @include general_text(false);
    }
  }

  &_works {
    p {
      @include general_text(false);
    }

    &_item {
      display: flex;
      margin: 0.5em 0;

      @include smartphone {
        flex-direction: column;
      }

      @include printAndSmartphone {
        margin: 5px 0;
      }

      &_name {
        @include general_text(false);
        width: 20%;
        min-width: 150px;
      }

      &_description {
        @include general_text(false);
        width: 80%;

        @include smartphone {
          width: 100%;
        }
      }
    }
  }

  &_code_item {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    @include printAndSmartphone {
      margin: 5px 0;
    }

    &_icon {
      width: 2em;
      height: 2em;
      margin-right: 1em;

      @include printAndSmartphone {
        width: 28px;
        height: 28px;
        margin-right: 16px;
      }
    }

    &_url {
      @include general_text($primary-color);
    }
  }
}