<!-- <div class="print-hidden">
  <h1>
    Hello, my name is Grazia, but my parents call me Grace and some friends like to call me Grace Grace :)
  </h1>
</div> -->

<div class="centered-container after-menu" [@routingAnimation]="" [ngClass]="[currentPalette]">
  <div class="cv" [@blurAnimation]="menuState">
    <div class="cv_intro cv_section print-display">Grazia Stracquadanio. <span>Frontend developer</span></div>
    <!-- <div class="cv_contacts cv_section">
      <div class="">
        <div class="icon" [inlineSVG]="'/assets/svg/email.svg'"></div>
      </div>
    </div> -->
    <!-- ABOUT ME -->
    <div class="cv_about cv_section">
      <h1 class="cv_section_title">About me</h1>
      <p>
        I love applying creativity to every aspect of my life and work. I am a strong supporter of simplicity and optimised solutions, with a sharp attention to details. I believe in challenges (in work and life) and sharing because they are the best way to learn and improve.
      </p>
    </div>
    <!-- WORK EXPERIENCE -->
    <div class="cv_experience cv_section">
      <h1 class="cv_section_title">Work Experience</h1>
      <div class="cv_experience_item" *ngFor="let item of experience">
        <h2>
          <span class="cv_experience_item_role" *ngIf="item.role">{{item.role}} @</span>
          <span class="cv_experience_item_company">{{item.company}}</span>
          <span class="cv_experience_item_website" *ngIf="item.website">
            ( <a href="{{item.website.url}}" target="_blank" title={{item.website.name}}>{{item.website.name}}</a> )
          </span>
        </h2>
        <h3 class="cv_experience_item_details">
          <span *ngIf="item.location">{{item.location}},</span> {{item.from_date}} – {{item.to_date}}
        </h3>
        <p class="cv_experience_item_description">{{item.description}}</p>
      </div>
    </div>
    <!-- SOME WORKS -->
    <div class="cv_works cv_section">
      <p>Do you want to see some of the project I’ve worked on?</p>

      <div class="cv_works_item" *ngFor="let item of works">
        <div class="cv_works_item_name">
          <a href="{{item.url}}">{{item.name}}</a>
        </div>
        <div class="cv_works_item_description">{{item.description}}</div>
      </div>

      <p>Or, do you want to look at some code?</p>

      <div class="cv_code_item">
        <div class="cv_code_item_icon" [inlineSVG]="'/assets/svg/codepen.svg'"></div>
        <div class="cv_code_item_url"><a href="https://codepen.io/graziastrax/">https://codepen.io/graziastrax/</a></div>
      </div>

      <div class="cv_code_item">
        <div class="cv_code_item_icon" [inlineSVG]="'/assets/svg/github.svg'"></div>
        <div class="cv_code_item_url"><a href="https://github.com/graziastracquadanio">https://github.com/graziastracquadanio</a></div>
      </div>
    </div>
  </div>
</div>


