<div class="settings-container screen-only">
  <button class="fab"
    (click)="toggleSettings()">
      <md-icon>settings</md-icon>
    </button>
  <div class="options" [ngClass]="[isOpen ? 'open' : 'closed']">
    <div class="option color-option" *ngFor="let code of palettes.codes">
      <button
        title="{{code}}"
        [style.background]="palettes.defs[code]"
        (click)="changeColor(code)">
      </button>
    </div>
    <div class="option icon-option">
      <button
        (click)="changeColor(null)">
        <span>
          <md-icon>shuffle</md-icon>
        </span>
      </button>
    </div>
    <div class="option icon-option">
      <button
        (click)="changeColor('day')">
        <span>
          <md-icon>wb_sunny</md-icon>
        </span>
      </button>
    </div>
    <div class="option icon-option night-option">
      <button
        (click)="changeColor('night')">
        <span>
          <md-icon>brightness_2</md-icon>
        </span>
      </button>
    </div>
  </div>
</div>