<!-- <content centered>
</content> -->

<content centered>
  <h1>
    Hi, my name is <b>Grazia</b>. I'm a <b>frontend developer</b> and I love
    <span
      [typewriting]="[
        'making cool things.',
        'to have fun coding.',
        'making beautiful things.',
        'drawing with code.',
        'to create new things.',
        'making awesome things',
        'to solve problems.',
        'experiment new things.',
        '...'
      ]"
      typewritingColor="rgba(255, 255, 255, .4)"></span>
  </h1>
</content>