@import 'media-queries';
@import 'palettes';
@import 'variables';

// COLOR DEFS
@mixin colorBasedOnContext($opacity: 1) {
  @each $code, $color in $palettes-main {
    /deep/ .#{$code} & {
      color: $color;
      color: rgba($color, $opacity);
    }
  }

  .night & {
    color: $black;
  }

  .day & {
    background-color: rgba(255, 255, 255, .5);
  }

  & {
    background-color: rgba(255, 255, 255, .5);
    transition: color $color-transition linear;
  }
}

@mixin backgroundBasedOnContext($opacity: 1, $manageOthers: true) {
  @each $code, $color in $palettes-main {
    /deep/ .#{$code} & {
      background-color: $color;
      background-color: rgba($color, $opacity);
    }
  }

  & {
    transition: background $color-transition linear;
  }

  @if $manageOthers == true {
    .night & {
      background-color: $black;
      background-color: rgba($black, $opacity);
    }

    .day & {
      background-color: white;
      background-color: rgba(white, $opacity);
    }
  }
}
// END COLOR DEFS

@mixin textColor($print-color: $black) {
  color: $text-color;

  /deep/ .day & {
    color: $dark-text-color !important;
  }

  @include print {
    color: $print-color !important;
  }
}

// EFFECT ANIMATIONS
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(.94, 1.1);
  }
  50% {
    transform: scale(1.05, .9);
  }
  75% {
    transform: scale(.98, 1.05);
  }
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(.94, 1.1);
  }
  50% {
    transform: scale(1.05, .9);
  }
  75% {
    transform: scale(.98, 1.05);
  }
}

// END EFFECT ANIMATIONS

// TODO remove all those stuff
// TEXT FORMAT
$slowTransition: 2s;

@mixin super_heading() {
  font-family: $primary-heading-font;
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 1em;
  @include textColor();

  @include printAndSmartphone {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@mixin heading() {
  font-family: $primary-heading-font;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.5em;
  @include textColor();

  @include printAndSmartphone {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@mixin heading_subsection() {
  font-family: $secondary-heading-font;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0.3em;
  @include textColor();

  @include printAndSmartphone {
    font-size: 14px;
    margin-bottom: 2px;
  }
}

@mixin subheading_subsection() {
  font-family: $general-font;
  font-size: 1.4em;
  line-height: 1.25;
  margin-bottom: 0.2em;
  @include textColor();

  @include printAndSmartphone {
    font-size: 13px;
    margin-bottom: 2px;
  }
}

@mixin general_text($color: $black) {
  font-family: $general-font;
  font-size: 1.1em;
  line-height: 1.5;
  @include textColor($color);

  @include printAndSmartphone {
    font-size: 12px;
    margin-bottom: 2px;
  }
}
// END TEXT FORMAT
