@import 'media-queries';
@import 'palettes';
@import 'variables';

// COLOR DEFS
@mixin textColorBasedOnContext($opacity: 1, $child: true) {
  @each $code, $color in $palettes-text {
    @if $child == true {
      /deep/ .#{$code} & {
        color: $color;
        color: rgba($color, $opacity);
      }
    } @else {
      /deep/ .#{$code} {
        color: $color;
        color: rgba($color, $opacity);
      }
    }
  }
}

@mixin colorBasedOnContext($opacity: 1) {
  @each $code, $color in $palettes-main {
    /deep/ .#{$code} & {
      color: $color;
      color: rgba($color, $opacity);
    }
  }
}

@mixin backgroundBasedOnContext($opacity: 1) {
  @each $code, $color in $palettes-main {
    /deep/ .#{$code} & {
      background-color: $color;
      background-color: rgba($color, $opacity);
    }
  }

  & {
    transition: background $color-transition linear;
  }
}
// END COLOR DEFS

@mixin textColor($print-color: $black) {
  color: $text-color;

  /deep/ .day & {
    color: $dark-text-color !important;
  }

  @include print {
    color: $print-color !important;
  }
}

// EFFECT ANIMATIONS
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(.94, 1.1);
  }
  50% {
    transform: scale(1.05, .9);
  }
  75% {
    transform: scale(.98, 1.05);
  }
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(.94, 1.1);
  }
  50% {
    transform: scale(1.05, .9);
  }
  75% {
    transform: scale(.98, 1.05);
  }
}

// END EFFECT ANIMATIONS
