@import 'media-queries';
@import 'variables';

$slowTransition: 2s;

@mixin page_heading() {
  font-family: $primary-heading-font;
  font-size: 2.1em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 1em;

  @include print {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@mixin section_heading() {
  font-family: $primary-heading-font;
  font-size: 1.8em;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.5em;

  @include print {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@mixin subsection_heading() {
  font-family: $secondary-heading-font;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0.3em;

  b {
    letter-spacing: 1px;
  }

  @include print {
    font-size: 14px;
    margin-bottom: 2px;
  }
}

@mixin subsection_subheading() {
  font-family: $general-font;
  font-size: 1.1em;
  line-height: 1.25;
  margin-bottom: 0.2em;

  @include print {
    font-size: 13px;
    margin-bottom: 2px;
  }
}

@mixin general_text() {
  font-family: $general-font;
  font-size: 1.05em;
  line-height: 1.5;

  @include print {
    font-size: 12px;
    margin-bottom: 2px;
  }
}

@mixin general_text_bigger() {
  font-family: $general-font;
  font-size: 1.2em;
  line-height: 1.5;

  @include print {
    font-size: 12px;
    margin-bottom: 2px;
  }
}


