// COLORS
// $primary-heading-font: 'Josefin Slab', serif;
// $secondary-heading-font: 'Roboto Slab', serif;
// $general-font: 'Poppins', sans-serif;
// $primary-heading-font: 'Inconsolata', serif;
// $secondary-heading-font: 'Inconsolata', serif;
$primary-heading-font: 'Zilla Slab', serif;
$secondary-heading-font: 'Zilla Slab', serif;
$general-font: 'Nunito', sans-serif;

$primary-color: #c2185b;
$black: #2c3e50;
$background-color: rgba(255, 255, 255, 0); //rgba(255, 255, 255, .5);

$text-color: white;
$light-text-color: white;
$dark-text-color: $black;

$color-transition: .2s;

// OTHER
$menu-height: 45px;

$gelatineButtonAnimation: gelatine .5s cubic-bezier(.6, 4, .3, .8) 1;
