@import 'variables';
@import 'media-queries';
@import 'mixins';
@import 'typography';

body {
  width: 100%;
  @include textColorBasedOnContext(.8, false);
  transition: background-color $color-transition linear;
}

section {
  margin-bottom: 2em;
}

svg {
  width: 100%;
  height: 100%;
}

.loading {
  $loading-size: 7em;

  &-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  font-family: $primary-heading-font;
  color: $black;
  opacity: .8;
  font-size: 7em;

  span {
    animation: dotAnimation .9s linear alternate infinite;
    @for $i from 0 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: .3s * $i;
      }
    }
  }
}

@keyframes dotAnimation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  margin-bottom: .5em;
}

h1 {
  @include page_heading();
}

h2 {
  @include section_heading();
}

h3 {
  @include subsection_heading();
}

h4 {
  @include subsection_subheading();
}

h5 {
  @include general_text_bigger();
  margin-bottom: .5em;
}

a {
  @include general_text();
  background-color: rgba(0, 0, 0, .15);
  padding-left: 3px;
  padding-right: 3px;
  color: inherit;

  .day & {
    background-color: transparent !important;
  }

  @include print {
    color: $primary-color;
    font-family: $secondary-heading-font;
    padding-left: 0;
    padding-right: 0;
  }
}

mark {
  background-color: rgba(255, 255, 255, .3);
  color: inherit;
  padding-left: .2em;
  padding-right: .2em;

  @include print() {
    color: $black;
    background-color: transparent;
  }
}

p {
  @include general_text();
}
