@import 'variables';
@import 'media-queries';
@import 'mixins';

$ideanAngle: 10deg;
$color-switcher-color: $black;

$footer-height: 5em;

.app_container {
  min-height: 100vh;
  margin-bottom: $footer-height;

  min-height: 100vh;
  width: 100vw;
  @include backgroundBasedOnContext();
}

.footer_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
