@import 'variables';
@import 'media-queries';
@import 'mixins';
@import 'typography';

$ideanAngle: 10deg;
$footer-height: 12em;

.app_container {
  min-height: 100vh;
  margin-bottom: $footer-height;
  width: 100vw;
  @include backgroundBasedOnContext();
}

.footer_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5em;

  &_body {
    margin: 0;
  }

  &_author {
    @include general_text();
    font-style: italic;
  }
}
