<content containerClass="after-menu full-width-mobile">
  <form [formGroup]="form">
    <div class="post-editor_container">
      <!-- first row -->
      <div class="post-editor_basic-details">
        <div class="title_container">
          <input
            type="text"
            formControlName="title"
            placeholder="What do you wanna say?">
        </div>
        <div class="saving-options_container">
          <div class="saving-options_button">Save now</div>
          <div class="saving-options_details">{{ postStatus }}</div>
        </div>
      </div>

      <!-- second row -->
      <div class="post-editor_extra-details">
        <div class="some-details_container">
          <div (click)="postDatepicker.open()" class="date_container">
            <md-icon>today</md-icon>
            <md-datepicker #postDatepicker [touchUi]="true"></md-datepicker>
            <span>Created {{post.creationDate | date:'EEE. dd/MM/yy'}}</span>
            <input
              [mdDatepicker]="postDatepicker"
              formControlName="creationDate">
          </div>

          <div class="location_container">
            <md-icon>place</md-icon>
            <input
              type="text"
              formControlName="location"
              placeholder="Where exactly?">
          </div>
        </div>
        <div class="extra-options_container">
          <div class="words-counter">{{wordsCounter}} word<span *ngIf="wordsCounter > 1">s</span></div>
          <button class="extra-options_item" (click)="toggleEditorOptions()">
            <md-icon>text_format</md-icon>
          </button>
        </div>
      </div>

      <!-- post body -->

      <div class="post-editor_body">
        <quill-editor
          formControlName="body"
          (onContentChanged)="setWordsCounter($event)">
          <div quill-editor-toolbar
            class="editor_options"
            [ngClass]="[showEditorOptions ? 'visible' : 'hidden']">

            <span class="ql-formats">
              <select class="ql-color" [title]="'Color'">
                <option *ngFor="let option of textColorOptions" [value]="option"></option>
              </select>
              <select class="ql-background" [title]="'Background'">
                <option *ngFor="let option of bgColorOptions" [value]="option"></option>
              </select>
            </span>

            <span class="ql-formats">
              <button class="editor_option ql-bold" [title]="'Bold'"></button>
              <button class="editor_option ql-italic" [title]="'Italic'"></button>
              <button class="editor_option ql-underline" [title]="'Underline'"></button>
              <button class="editor_option ql-strike" [title]="'Strike'"></button>
            </span>

            <span class="ql-formats">
              <select class="ql-align" [title]="'Aligment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
              <button class="ql-indent" value="-1"></button>
              <button class="ql-indent" value="+1"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-blockquote" [title]="'Blockquote'"></button>
              <button class="ql-code-block" [title]="'CodeBlock'"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-header" value="1"></button>
              <button class="ql-header" value="2"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-link" [title]="'Link'"></button>
              <button class="ql-image" [title]="'Image'"></button>
              <button class="ql-video" [title]="'Video'"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-clean" [title]="'Clean'"></button>
            </span>

          </div>
        </quill-editor>
      </div>
    </div>
  </form>
</content>