@import 'media-queries';
@import 'mixins';
@import 'palettes';
@import 'typography';
@import 'variables';

* {
  box-sizing: border-box;
}

$border-color: rgba(0, 0, 0, .2);

.post-editor {
  &_container {
    min-height: 70vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    @include general_text();
    color: $black;

    @include smartphone {
      margin-left: -1em;
      margin-right: -1em;
      padding: 0.5em;
    }
  }

  &_basic-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include smartphone() {
      flex-direction: column-reverse;

      & > div {
        margin-bottom: 1em;
      }
    }

    .title_container {
      flex-grow: 1;

      input {
        width: 100%;
        padding-right: 2em;
        margin: 0;
        @include section_heading();
        text-transform: inherit;
      }
    }

    .saving-options {
      &_container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-style: italic;

        @include smartphone() {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }

      &_button {
        cursor: pointer;
        @include colorBasedOnContext();
      }
    }
  }

  &_extra-details {
    display: flex;
    flex-directions: row;
    justify-content: space-between;
    padding: 0.5em;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    @include smartphone {
      flex-direction: column;
    }

    .some-details_container {
      display: flex;
      flex-wrap: wrap;
    }

    .date_container {
      display: flex;
      align-items: center;
      margin-right: 1em;

      span {
        cursor: pointer;
      }

      input {
        display: none;
      }

      button {
        margin-right: .5em;
      }
    }

    .location_container {
      display: flex;
      align-items: center;
    }

    .extra-options_container {
      display: flex;
      align-items: center;

      @include smartphone {
        justify-content: space-between;
      }

      button {
        display: flex;
        align-items: center;
      }
    }

    input {
      @include general_text();
    }
  }

  &_body {
    .editor_options {
      border: none;
      border-bottom: 1px solid $border-color;

      &.hidden {
        visibility: hidden;
        display: none;
      }
    }

    /deep/ .ql-container {
      border: none;
      @include general_text();
    }
  }
}

/deep/  .editor_option {
  width: 2em;
  height: 2em;
}

md-icon {
  margin-right: .3em;
  color: $black;
}
