<content>
  <div class="reading">
    <div class="reading-column">
      <div class="reading-bucket">
        <h2># Reading now</h2>
        <div class="reading-item" *ngFor="let book of currentReading | async">
          <div class="reading-item_title">{{book.title}}</div>
          <div class="reading-item_author">{{book.author}}</div>
        </div>
      </div>
      <div class="reading-bucket">
        <h2># Waiting on the shelf</h2>
        <div class="reading-item" *ngFor="let book of waitingOnTheShelf | async">
          <div class="reading-item_title">{{book.title}}</div>
          <div class="reading-item_author">{{book.author}}</div>
        </div>
      </div>
    </div>
    <div class="reading-column">
      <div class="reading-bucket">
        <h2># Have read</h2>
        <div class="reading-item" *ngFor="let book of finishedReadings | async">
          <div class="reading-item_title">{{book.title}}</div>
          <div class="reading-item_author">{{book.author}}</div>
        </div>
      </div>
    </div>
    <div class="reading-column">
      <div class="reading-bucket">
        <h2># Wishlist</h2>
        <div class="reading-item" *ngFor="let book of wishlistReadings | async">
          <div class="reading-item_title">{{book.title}}</div>
          <div class="reading-item_author">{{book.author}}</div>
        </div>
      </div>
    </div>
  </div>
</content>