@import '../../../assets/styles/media-queries';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.reading {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 -1em;

  * {
    box-sizing: border-box;
  }

  @include smartphone {
    flex-direction: column;
  }

  &-column {
    width: 100/3 * 1%;
    padding: 1em;

    @include smartphone {
      width: 100%;
    }
  }

  &-bucket {
    margin-bottom: 2em;
    background-color: $background-color;

    @include smartphone {
      margin-bottom: 0;
    }
  }

  h2 {
    @include heading_subsection();
    margin-bottom: 1em;
  }

  .with-tooltip {
    position: relative;
    cursor: help;

    .tooltip {
      @include general_text();
      position: absolute;
      bottom: 0;
      font-size: 0.6em;
      line-height: 1.2;
      background: rgba(255, 255, 255, .5);
      padding: 0.5em;
      opacity: 0;
      visibility: hidden;
      transition: all .25s linear;
    }

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &-item {
    padding-top: .3em;
    padding-bottom: .3em;
    border-bottom: 1px dashed rgba(218, 223, 225, .3);

    &_title {
      @include general_text();
      text-transform: capitalize;
      line-height: 1.25;
      margin-bottom: 0.2em;

      &.loved {
        position: relative;
        padding-left: 1.2em;

        &:before {
          content: '♥';
          position: absolute;
          left: 0em;
        }
      }
    }

    &_author {
      @include general_text();
      text-transform: capitalize;
      font-style: italic;
      font-size: 1em;
      line-height: 1.25;
    }
  }
}
