@import 'variables';
@import 'media-queries';

body {
  width: 100%;
  height: 100vh;
  // background-image: url('/assets/images/watercolor_bg.jpg');
}

a {
  color: $primary-color;
}

// PRINT STUFF
@page {
  size: A4;
  margin: 25mm 25mm 25mm 25mm;
}

@media print {
  body {
    height: auto;
    background-image: none;
  }

  .print-hidden {
    display: none !important;
    visibility: hidden !important;
  }
}

@media not print {
  .print-display {
    display: none !important;
    visibility: hidden !important;
  }
}
// END PRINT STUFF

svg {
  width: 100%;
  height: 100%;
}

@mixin centered-container {
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;

  @include smartphone {
    width: 90%;
  }
}

.centered-container {
  @include centered-container;
}

.after-menu {
  margin-top: 5em;
}