@import '../../../assets/styles/variables';

.main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;

  &_links,
  &_social {
    padding: 0.5em;
    display: flex;
  }

  &_item {
    color: $black;
    font-size: 0.9em;
    font-family: $general-font;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 4px 7px 2px;
    margin: 0 0.3em;
    user-select: none;

    &.active {
      color: white;
      background-color: $black;
      border-radius: 5px;
    }
  }

  &_social-item {
    height: 1.2em;
    width: 2em;
    padding: 4px;
    margin-left: 0.3em;
    display: inline-block;
    fill: white;
  }
}