<div [ngClass]="[color]" class="screen-only">
  <div class="main-menu print-hidden" [ngClass]="[menuState]">

    <div class="main-menu_toggle"
      (click)="toggleMenu()">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>

    <div class="main-menu_content" [@heightAnimation]="menuState">
      <div class="main-menu_links">
        <a
          class="main-menu_item"
          title="Home"
          routerLink="/home"
          routerLinkActive="active">
          Home
        </a>
        <a
          class="main-menu_item"
          title="View my cv"
          routerLink="/about"
          routerLinkActive="active">
          About&Cv
        </a>
        <a
          class="main-menu_item"
          title="Some stuff"
          routerLink="/stuff"
          routerLinkActive="active">
          Stuff
        </a>
        <a
          *ngIf="isLoggedIn"
          class="main-menu_item"
          title="Create post"
          routerLink="/post-add"
          routerLinkActive="active">
          Create post
        </a>
      </div>
      <div class="main-menu_social">
        <a class="main-menu_social-item"
          title="Instagram"
          href="https://www.instagram.com/grazia_astrax/"
          target="_blank"
          [inlineSVG]="'/assets/svg/instagram.svg'">
        </a>
        <a class="main-menu_social-item"
          title="Facebook"
          href="https://www.facebook.com/grazia.stracquadanio.23"
          target="_blank"
          [inlineSVG]="'/assets/svg/facebook.svg'">
        </a>
        <a class="main-menu_social-item"
          title="Linkedin"
          target="_blank"
          href="https://www.linkedin.com/in/graziastracquadanio/en/"
          [inlineSVG]="'/assets/svg/linkedin.svg'">
        </a>
        <a class="main-menu_social-item"
          title="Codepen"
          target="_blank"
          href="https://codepen.io/graziastrax"
          [inlineSVG]="'/assets/svg/codepen.svg'">
        </a>
        <a class="main-menu_social-item"
          title="Github"
          target="_blank"
          href="https://github.com/graziastracquadanio"
          [inlineSVG]="'/assets/svg/github.svg'">
        </a>
      </div>
    </div>
  </div>
</div>