@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

$color-opacity: 0.7;

.main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 10;

  &_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include backgroundBasedOnContext($color-opacity);
    @include colorTransition(background);
  }

  &_toggle {
    $menu-button-size: 40px;
    height: $menu-button-size;
    width: $menu-button-size;
    padding: $menu-button-size * 0.25;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

    span {
      width: 100%;
      height: 2px;
      @include backgroundBasedOnContext($color-opacity);
      @include colorTransition(background, transform 0.1s ease-out);

      &.top {
        transform-origin: 0% 50%;
      }

      &.middle {
        opacity: 1;
      }

      &.bottom {
        transform-origin: 0% 50%;
      }
    }

    &:hover {
      .top {
        transform: rotate(45deg) scale(1.1, 1);
      }

      .middle {
        opacity: 0;
      }

      .bottom {
        transform: rotate(-45deg) scale(1.1, 1);
      }
    }
  }

  &_links,
  &_social {
    padding: 0.5em;
    display: flex;
  }

  &_item {
    color: white;
    font-size: 0.9em;
    font-family: $general-font;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 4px 7px 2px;
    margin: 0 0.3em;
    user-select: none;
    cursor: pointer;
    position: relative;
    $opacity-transition: opacity .25s ease-in;
    @include colorTransition(color, $opacity-transition);
    opacity: 0.7;

    &:hover {
      opacity: 1;
      animation: gelatine .5s cubic-bezier(.6,4,.3,.8) .1s 1;
    }

    &.active {
      @include colorTransition(color);
      @include colorBasedOnContext($color-opacity);
      background-color: white;
    }
  }

  &_social-item {
    height: 1.2em;
    width: 2em;
    padding: 4px;
    margin-left: 0.3em;
    display: inline-block;
    fill: white;
    opacity: 0.7;
    transition: all .25s ease-in;

    &:hover {
      opacity: 1;
      animation: gelatine .5s cubic-bezier(.6,4,.3,.8) 1;
    }
  }
}