@import 'variables';
@import 'mixins';
@import 'media-queries';
@import 'typography';

$color-opacity: 0.8;

@mixin openMenuButton {
  &.top {
    transform: rotate(-42deg);
  }

  &.middle {
    opacity: 0;
  }

  &.bottom {
    transform: rotate(42deg);
  }
}

@mixin closeMenuButton {
  .middle {
    opacity: 1;
  }
}

/deep/ .main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 10;

  @include smartphone {
    &.menu-hidden {
      position: absolute;
    }
  }

  &_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include backgroundBasedOnContext($color-opacity);
    transition: color .2s ease-out;

    @include not-smartphone {
      transform: translateY(0%) !important;
    }

    .day & {
      background-color: white;
      background-color: rgba(white, .9);
    }

    .night & {
      background-color: $black;
      background-color: rgba($black, $color-opacity);
    }

    @include smartphone {
      height: 100vh;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(black, .2) !important;

      .menu-hidden & {
        top: -100%;
        transform: translateY(-100%);
      }
    }
  }

  &_toggle {
    position: absolute;
    top: 0;
    right: 0;
    $menu-button-size: 2.5em;
    height: $menu-button-size;
    width: $menu-button-size;
    padding: 0.2em;
    margin: 0.3em 0.5em;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    background-color: transparent;
    @include backgroundBasedOnContext(1);
    transition: background-color 0.10s ease-out;

    .menu-visible & {
      background-color: transparent;
    }

    .menu-hidden & {
      transition: background-color .2s linear .2s;
    }

    @include not-smartphone() {
      opacity: 0;
      visibility: hidden;
      width: 0;
      overflow: hidden;
      padding: 0;
    }

    span {
      width: 100%;
      height: 3px;
      border-radius: 100px;
      transition: transform 0.1s ease-out .2s, opacity 0.1s linear .2s;
      background-color: white;

      .day & {
        background-color: $black;
      }

      .menu-visible & {
        @include openMenuButton;
      }

      .menu-hidden & {
        @include closeMenuButton;
      }

      &.top {
        transform-origin: 100% 50%;
      }

      &.bottom {
        transform-origin: 100% 50%;
      }
    }
  }

  &_links,
  &_social {
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
  }

  &_links {
    @include smartphone {
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }
  }

  &_item {
    font-size: 0.9em;
    font-family: $general-font;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 4px 7px 2px;
    margin: 0 0.3em;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: opacity .25s ease-in;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transition: none;
      @include not-smartphone {
        animation: $gelatineButtonAnimation;
      }
    }

    &.active {
      transition: color .2s ease-out;
      @include colorBasedOnContext();
      background-color: rgba(white, .8);
      opacity: 1;
    }

    .day &.active {
      background-color: rgba($black, .8);
    }

    @include smartphone {
      background-color: transparent;
      @include section_heading();
      text-align: center;
    }
  }

  &_social-item {
    height: 1.8em;
    width: 1.8em;
    padding: .3em;
    margin-left: .8em;
    display: inline-block;
    fill: white;
    opacity: 0.7;
    transition: all .25s ease-in;
    background-color: transparent;

    .day & {
      fill: $black;
    }

    &:hover {
      opacity: 1;
      animation: $gelatineButtonAnimation;
    }
  }
}
